<p class="text-dark h4 font-weight-bold"><%= listing.name.first(20) %></p>
<p class="text-dark h6 font-weight-bold"><%= listing.price %> ￡/month</p>
<%= link_to "more", listing_path(listing.id), class:"button-28" %>
