.contact-socialmedia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.contact-socialmedia a {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 10px;
  margin-bottom: 100px;

}

.contact-socialmedia a:hover {
  color: #86ddff;
}
