//general

html {
  height: 100%;
  overflow: hidden;
}
body {
  margin:0;
  padding:0;
	-webkit-perspective: 1px;
	perspective: 1px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
}

.invisible {
  color: rgba(0, 0, 0, 0)
}

.light-blue {
  color: #97ECFF;
}

@media (max-width:550px) {
  .home-main {
    top: 500;
    background-color: #0C0C0E;
    width: 100%;
    position: relative;
    z-index: 2;
    border-top: 1px solid #fff;
    text-align: center;
  }
}


@media (min-width:550px) {
  .home-main {
    top: 250;
    background-color: #0C0C0E;
    width: 100%;
    position: relative;
    z-index: 2;
    border-top: 1px solid #fff;
    text-align: center;
    padding-left: 150px;
  }
}


//First box

.home-text-1 {
  color: #fff;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: left;
  width: 100%;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;
}

.vendo-logo-home {
  height: 200px;
  width: 152px;
}

.vendo-logo-home img {
  height: 200px;
  width: 200px;
  margin-top: -50px;
  margin-left: -32px;
}

//second box

.home-text-2 {
  color: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  padding: 15;
}

@media (min-width:649px){
  .question-container {
    display: flex;
  }
  .question-1-home {
    margin-bottom: 50px;
    color: #fff;
    text-align: left;
    width: 200px;
    flex-grow: 1;
  }
  .question-2-home {
    margin-bottom: 0px;
    color: #fff;
    text-align: left;
    width: 200px;
    flex-grow: 1;
  }
}

//third box

.home-text-3 {
  color: #fff;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: left;
  padding: 15;
}



//forth box

.btn-home-here {
  color: #97ECFF;;
  text-decoration: underline;
  z-index: 100;
}

.btn-home-here:hover {
  color: rgba(151, 236, 255, 0.8);
  text-decoration: underline;
  z-index: 100;
}

@media (min-width:649px){
  .question-container {
    display: flex;
  }
  .instruction-1-home {
    color: #fff;
    text-align: left;
    width: 200px;
    flex-grow: 1;
  }
  .instruction-2-home {
    color: #fff;
    padding-top: 80px;
    text-align: left;
    width: 200px;
    flex-grow: 1;
  }
}

//GET Started Button

.button-bottom-home {
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: -150px;
}


header {
  color: #fff;
  box-sizing: border-box;
  min-height: 40vw;
  padding: 30vw 0 5vw;
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;
}

header, header:before {
  background: 50% 50% / cover;
}

header::before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  flex-grow: 1;
  position: absolute;
  content: "";
	display: block;
	background-color: #8a8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(image_path('screen-1.jpg'));
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}


header * {
  font-weight: normal;
  letter-spacing: 0.1em;
  text-align: center;
	padding: 0.2em 0;
}

.head-text{
  flex-grow: 1;
  padding: auto;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
      -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
}

.title-home {
  position: absolute;
  top: 200;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}




@media (max-height:600px){
  .home-main {
    top: 50;
    background-color: #0C0C0E;
    width: 100%;
    position: relative;
    z-index: 2;
    border-top: 1px solid #fff;
    text-align: center;
  }
  .title-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index:1000;
  }
}

@media (height:568px){
  .home-main {
    top: 200;
    background-color: #0C0C0E;
    width: 100%;
    position: relative;
    z-index: 2;
    border-top: 1px solid #fff;
    text-align: center;
  }
}









@media (max-width:649px){
  .question-1-home {
    margin-bottom: 50px;
    color: #fff;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
  }
  .question-2-home {
    margin-bottom: 50px;
    color: #fff;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
  }
}











// This is for the get started

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:50px;
}


button.fancy {
  -webkit-appearance: button;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: 700;
  letter-spacing: .05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all .3s ease-in-out;
  user-select: none;
  width: 16.8125rem;
  z-index: 1;

&::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: white;
    top: 50%;
    left: 1.5em;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: background 0.3s linear, width 0.3s linear;
    transition: background 0.3s linear, width 0.3s linear;
    z-index: 1;
}
  a {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    z-index: 1;
}

    &:hover {
    color: black;
    background: white;

    &::before {
    width: 0.9375rem;
    background: black;
    }

    a {
    color: black;
    padding-left: 1.5em;
   }

    .top-key {
    left: -2px;
    width: 0px;
}
    .bottom-key-1 ,
    .bottom-key-2 {
    right: 0;
    width: 0;
  }

}

}
