<div class="row">
          <% @partners.each do |partner| %>
            <div class="col">
              <div class="card-booking-client">
                <h5 class="card-booking-title"><%= partner.user.first_name %> <%= partner.user.last_name %></p></h5>
              </div>
            </div>
          <% end %>
</div>
