<h1>partners index</h1>
<p>partners: <%= Partner.all %></p>
<div class="row">
          <% @partners.each do |partner| %>
            <div class="col">
              <div class="card-booking-client">
                <h5 class="card-booking-title"><%= partner.first_name %> <%= partner.last_name %></p></h5>

              </div>
            </div>
          <% end %>
</div>
