<div class="become-partner p-4">
  <form class="text-light col-md-6 col-sm-6 col-xs-6 m-4 mx-auto">
  <h2 class="text-light text-center">Send us a Partner Request</h2>
    <div class="form-row">
      <div class="col">
        <label for="inputFirstName4">First name</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <label for="inputLastName4">Last name</label>
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
    <div class="form-row mt-2">
      <div class="col-md-6 ">
      <label for="uploadimage">Upload an Image</label>
      <input type="file" class="form-control-file" id="uploadimage">
      </div>
      <div class="form-group col-md-6">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputCountry">Country</label>
        <input id="inputState" class="form-control">
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="mb-3">
      <label for="Message">Message</label>
      <textarea class="form-control" id="Message" placeholder="Message" required></textarea>
    </div>
    <button type="submit" class="button-28">Submit</button>
  </form>
</div>
