<main>
  <div class="footer">
    <div class="footer-links">
      <ul>
        <li>
          <%= link_to "About Us", "/listings", class: "foot-link" %>
        </li>
        <li>
          <%= link_to "Work", "/listings", class: "foot-link" %>
        </li>
        <li>
          <%= link_to "FAQ", "/listings", class: "foot-link" %>
        </li>
        <li>
          <%= link_to "Contact us", "/listings", class: "foot-link" %>
        </li>
      </ul>
    </div>
    <div class="footer-socialmedia">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</main>
