<div class="about-us-container">
  <div class="row">
    <div class="col-md-6 mx-auto">
        <div class="mt-5">
          <h2>Get to Know Us</h2>
        </div>
        <div class="mt-5">
          <h4>
            At Vendo we help you define and sharpen your vision and then help you
            bring it to life in a way that connects emotionally with your audience.
            Founded in 2023, our one-stop Advertising Agency
            helps bring brands into the spotlight.
          </h4>
        </div>
        <div class="mt-5">
          <h4>
            We're passionate about helping you find your creative voice.
            We guide our clients through the minefields of modern business, helping them
            thrive in a fast-changing world. In so doing, we leverage each company's u
            nique strengths to build a personalized roadmap to success. Talk to
            us about what we can do for you.
          </h4>
        </div>
    </div>
  </div>
</div>
