<head>
  <script src="https://kit.fontawesome.com/735fc1a15d.js" crossorigin="anonymous"></script>
</head>
<h2 class="h1-responsive font-weight-bold text-center my-4">Contact <span class="light-blue">us</span></h2>
<h5 class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
    a matter of hours to help you.</h5>
  <div class="col-md-6  text-center mx-auto">
    <ul class="list-unstyled mb-0">
      <li class="mb-5">
        <h5><i class="fa-solid fa-location-dot fa-lg light-blue mr-2"></i>Bewdley DY12 1LN, United Kingdom</h5>
      </li>

      <li class="mb-5">
        <h5><i class="fa-solid fa-phone fa-lg light-blue mr-2"></i>+44 7904797117</h5>
      </li>

      <li class="mb-5">
        <h5><i class="fa-solid fa-envelope fa-lg light-blue"></i>vendoadvertisements@gmail.com</h5>
      </li>
    </ul>
  </div>

  <h4 class="text-center w-responsive mx-auto mb-5">Don't foget to follow our  <span class="light-blue">Social Media Accounts!</span></h4>
  <div class="contact-socialmedia">
    <a href="https://www.instagram.com/vendoadvertisements/" target="_blank"> <i class="fab fa-instagram fa-lg"></i></a>
    <a href="https://www.linkedin.com/company/vendo-advertisements-limited" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
    <a href="https://www.tiktok.com/@vendoadvertisements" target="_blank"><i class="fab fa-tiktok fa-lg"></i></a>
  </div>
</div>
