<header>
  <div class="head-text">
    <div class="row">
      <div class="Title-home mx-auto">
        <h1>Affordable</h1>
        <h1>Advertisement</h1>
        <h1>Anywhere</h1>
        <div class="mt-2">
          <h4>A Digital Platform for Advertising</h4>
        </div>
        <% if user_signed_in? %>
          <div class="center">
            <button class="fancy">
              <a href="/listings" target="_self" class="">See Screens</a>
            </button>
          </div>
        <% else %>
          <div class="center">
            <button class="fancy">
              <a href="/users/sign_in" target="_self" class="">Get Started</a>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>

<main>


  <div class="home-text-1">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h1>About Us</h1>
        <h5>Vendo provide digital signage advertising displays in storefront windows for you to advertise inexpensively, quickly and flexibly. We create your new advertising campaign through our consultation service.</h5>
      </div>
    </div>
  </div>


  <div class="question-container">

    <div class="question-1-home">
      <div class="col-md-6 mx-auto" >
        <h4> You need to Advertise?</h4>
        <h5> How about Storefront Window Display Advertising? </h5>
        <p> Digital storefront window advertising is the way forward to get your business or product caught sight of in the urban space. Not only is digital advertising more efficient and effective, but also more sustainable. </p>
      </div>
    </div>

    <div class="question-2-home">
      <div class="col-md-6 mx-auto">
        <h4> You are a Store Owner?</h4>
        <h5> Become a display partner </h5>
        <p> Earn monthly compensations. Vendo will not only provide the displays, but we will take care of the setup and installation. Our support is always available. We only ask for a fraction of your shop window space. Earn up to 20%of the displays revenue. At the end of the month, you receive your compensation. This provides you with a reliable and solid supplementary income.</p>
      </div>
    </div>

    <div class="question-2-home">
      <div class="col-md-6 mx-auto">
        <h4> Need an Advertising Campaign?</h4>
        <h6> No Problem, Vendo's team will happily help you create a amazing advertising campaign </h6>
      </div>
    </div>
  </div>

  <h1 class="text-light Description">How it's done</h1>
  <div class="how-to-book justify-content-around ">
    <%# <i class="fas fa-screen-users"></i> %>
    <div class="choose-screen text-left ml-4">
      <h3>1.</h3>
        <h5><strong>Choose your screen</strong></h5>
      <p>Choose a screen of your liking at your prefered location</p>
    </div>
    <%# <i class="fa-solid fa-calendar-clock"></i> %>
    <div class="choose-time text-left ml-4">
      <h3>2.</h3>
        <h5><strong>Decide on a time</strong></h5>
      <p>Book the screen by deciding on the time spam you want to book it for</p>
    </div>
    <div class="upload-pictures text-left mx-4">
      <%= image_tag "vendo-logo.png"%>
        <h5><strong>Upload your pictures</strong></h5>
      <p>Display your advertisment on the screen</p>
    <%# <i class="fa-solid fa-camera-retro"></i> %>
    </div>
  </div>

<form class="text-light col-md-6 col-sm-6 col-xs-6 m-4">
<h2 class="text-light">Send us a Partner Request</h2>
  <div class="form-row">
    <div class="col">
      <label for="inputFirstName4">First name</label>
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <label for="inputLastName4">Last name</label>
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6">
      <label for="inputLastName4">Subject</label>
      <input type="text" class="form-control" placeholder="Your Subject">
    </div>
    <div class="col-md-6">
    <label for="uploadimage">Upload an Image</label>
    <input type="file" class="form-control-file" id="uploadimage">
    </div>
  </div>
  <div class="mb-3">
    <label for="Message">Message</label>
    <textarea class="form-control" id="Message" placeholder="Message" required></textarea>
  </div>
  <button type="submit" class="button-28">Submit</button>
</form>

</main>
