<div class="about-us-container">
  <div class="row">
    <div class="col-md-6 mx-auto">
        <div class="mt-4">
          <h4>Package Design</h4>
        </div>
        <div class="mt-4">
          <h6>
            Let Us Handle Everything
          </h6>
        </div>
        <div class="mt-4">
          <h6>
            With our Package Design service, our creative team takes the
            time to understand your brand and finds the most effective way to
            convey that to your audience. From strategy to implementation,
            we've got the answer.
          </h6>
        </div>
    </div>
    <div class="col-md-6 mx-auto">
      <div class="mt-4">
        <h4>Web Design</h4>
      </div>
      <div class="mt-4">
        <h6>
          Results You'll Love
        </h6>
      </div>
      <div class="mt-4">
        <h6>
          Our approach to Web Design will give your business that extra
          adrenaline shot it needs. Whether we're asked
           to start from scratch or act as advisors to your creative vision —
           we'll work together to achieve the best possible results.
        </h6>
      </div>
    </div>
  </div>
</div>
