<body>

  <div class="header-work">
    <div class="row">
      <div class="Title-work mx-auto">
        <p>OUR WORK</p>
      </div>
    </div>
  </div>

  <div class="main-container-work-1">

    <div class="work-text-1">
      <div class="row">
        <div class="chapter-slogan col-md-9 center-text-work">
          <div class="vendo-logo-work">
            <%= image_tag "vendo-logo.png"%>
          </div>
          <div>
            <h1><strong>Vendos Blast-Resistant</strong></h1>
            <h1 ><span class="light-blue"><strong>Recycling Bins</strong></span></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="box-1-work">
      <div class="col-md-9 center-text-work">
        <h2>Vendo has one-hundred innovative blast-resistant recycling bins, which have built in digital screens capable of delivering emergency safety messages, ready to distribute immediately to local councils, city centres, sports stadiums and transport hubs where the threat of terror is most prevalent.</h2>
      </div>
    </div>

    <div class="box-2-work">
      <div class="col-md-9 center-text-work">
        <h1><strong><span class="light-blue">Anti</span> Terror</strong></h1>
        <h6> <span class="invisible">-</span></h6>
        <h3>The Vendo blast-resistant bins eliminate this means of concealment and work as part of an effective anti-terror plan in busy public areas. Designed to withstand and contain the blast of a terrorist’s bomb , the blast-resistant bins massively increase security in public places and with the built in digital screens can be used to convey immediate messages to the public in times of emergency.</h3>
      </div>
    </div>

    <div class="box-2-work">
      <div class="col-md-9 center-text-work">
        <h1><strong>Hightech and <span class="light-blue">Smart Design</span></strong></h1>
        <h6> <span class="invisible">-</span></h6>
        <h3>The bins have been subject to the most rigorous testing and conform to the strictest industry guidelines attached to blast resistant technology. The blast resistant materials used to manufacture the bins are the same as those found in military hardware such as warships and armored vehicles, and provide maximum ballistic and fragmentation protection. Approved by the Home Office and the MOD,  the design and technology of the bins carry multiple global patents and many of the world’s leading experts in ballistics and counter terrorism have been involved in bringing them to market.
Weighing 1.3 tonnes each, the blast-resistant bins come with the added advantage that they can be used as effective safety barriers by restricting large vehicle access in pedestrian areas.
The blast-resistant bins also bring with them a practical solution to littering, which has been a problem since many waste bins were removed from public places for fear of explosive devises being concealed within them, and help to provide an environmentally friendly, recycling system.</h3>
      </div>
    </div>

    <div class="box-2-work">
      <div class="col-md-9 center-text-work">
        <h1>Vendo is supplying the blast-resistant bins <span class="light-blue">free of charge</span> where partnerships can be formed over commercialising content on the digital screens in times of non-emergency.</h1>
      </div>
    </div>

    <div class="work-text-screen">
      <div class="row">
        <div class="chapter-slogan col-md-9 center-text-work ">
          <div class="vendo-logo-work-2">
            <%= image_tag "vendo-logo.png"%>
          </div>
          <div>
            <h1><strong>Vendos Digital Signage</strong></h1>
            <h1 ><span class="light-blue"><strong>Advertising Screens</strong></span></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="box-3-work">
      <div class="col-md-9 center-text-work">
        <h1><strong><span class="light-blue">The</span> Problem</strong></h1>
        <h6> <span class="invisible">-</span></h6>
        <h3>Nowadays, in a world filled with online marketing and targeted advertising, business owners are quick to spend the entire marketing budget on online advertisements - but all too often, consumers instinctively and mindlessly swipe past these ads, annoyed they even had to see them in the first place and with no memory of the product advertised. </h3>
      </div>
    </div>

    <div class="box-2-work">
      <div class="col-md-9 center-text-work">
        <h1><strong><span class="light-blue">The</span> Solution</strong></h1>
        <h6> <span class="invisible">-</span></h6>
        <h3>Vendo targets the instinct of trust of the consumer. A well-placed ad in your favorite store in your local area immediately connects this product to a trusted environment. Unlike digital advertising, which feels anonymous and disconnected, the consumer cannot scroll past it or be annoyed that the advertising just interrupted their content. Instead, the consumer is much more likely to notice your product and actually remember the advertisement! Additionally, unlike the traditional billboard advertisements which we have almost been conditioned to ignore, the consumer is drawn to our high-brightness screens and perceives our advertising not as intruding, but rather as interesting and informative. After all, people are waiting in line while their mind wanders to find interesting stimuli. Vendo fills this gap and immediately creates a subconscious connection to your product!</h3>
      </div>
    </div>


    <div class="box-2-work">
      <div class="col-md-9 center-text-work ">
        <h1><strong><span class="light-blue">Our Display </span>Screens</strong></h1>
        <h6> <span class="invisible">-</span></h6>
        <h3>Designed for storefront windows, our 55” Digital Signage Advertising Displays feature commercial grade ultra-high brightness panels (3,500cd/m²) that are up to 10 times brighter than domestic televisions.  The narrow bezel not only gives these displays a stylish & modern aesthetic look, but also means maximum attention is dawn to the on-screen content for high impact messaging.  With our new streaming technology, we can display your ads at multiple sites simulataneously. </h3>
      </div>
    </div>
  </div>


  <div class="bottom-box-work col-lg-8 col-10">
    <div class="box-4-work">
      <div class="col-md-10 text-center mx-auto">
        <h1><strong><span class="light-blue">Physical advertising</span> is more important now than ever</strong></h1>
      </div>
    </div>

    <% if user_signed_in? %>
      <div class="center" style="margin-bottom:50px;">
        <button class="fancy">
          <a href="/listings" target="_self" class="">See Screens</a>
        </button>
      </div>
    <% else %>
      <div class="center" style="margin-bottom:50px;">
        <button class="fancy">
          <a href="/users/sign_in" target="_self" class="">Get Started</a>
        </button>
      </div>
    <% end %>

  </div>
</body>
