.footer {
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0px 50px;
  color: #999D9F !important;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 3;
}
.footer-socialmedia {
  display: flex;
  align-items: center;
}
.footer-socialmedia a {
  color: #999D9F;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-socialmedia a:hover {
  opacity: 0.7;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-links {
  text-align: left;
  color: darkgray !important;
}
