

.right-container-index {
  padding-top: 100px;
  background-color: #0c0c0f;
}


// @media (max-width: 999px) {
//   .cards-home {
//     justify-content: center;
//     align-items: center;
//     flex-grow: 1;
//   }

//   .card-index {
//     width: 350px;
//     height: 350px;
//     color: white;
//     text-decoration: none;
//     border-radius: 10px;
//     margin-top: 30px;
//     margin-bottom: 80px;
//     padding-bottom: 10px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   .card-index :hover {
//     text-decoration: none;
//   }

//   .card-index img {
//     height: 190px;
//     width: 350px;
//     border-left: 2px solid white;
//     border-right: 2px solid white;
//     border-top: 2px solid white;
//     border-top-left-radius: 10px;
//     border-top-right-radius: 10px;
//   }

//   .card-index-content {
//     border-left: 1px solid white;
//     border-right: 1px solid white;
//     border-bottom: 1px solid white;
//     border-top: 2px solid white;
//     padding: 20px;
//     border-bottom-left-radius: 10px;
//     border-bottom-right-radius: 10px;
//   }
// }


@media (max-width: 999px) {
  .cards-home {
    justify-content: center;
    align-items: center;
  }

  .card-index {
    width: 350px;
    height: 350px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 80px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-index :hover {
    text-decoration: none;
  }

  .index-listing-img-container {
    overflow-x: scroll;
    height: 200px !important;
    width: 300px !important;
    border-radius: 15px;
    display: flex;
    scroll-snap-type: x mandatory;
    margin-left: auto;
    margin-right: auto;
  }

  .index-listing-img-container img {
    height: 200;
    width: 300;
    object-fit: cover;

  }

  .index-listing-img-container div {
    scroll-snap-align: center;
  }

  .card-index-content {
    border-bottom: 1px solid white;
    padding: 20px;
    justify-content: left;
  }

  .pagination-nav-container {
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
  }
}






@media (min-width:1000px){
  .card-index {
    display: flex;
    width: 90%;
    height: 240;
    color: white;
    text-decoration: none;
    background-color: #0e0e0f;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #fff;
  }

  .card :hover {
    text-decoration: none;
  }

  // .card-index img {
  //   height: 200;
  //   width: 300;
  //   border-radius: 15px;
  //   margin-top:20;
  //   object-fit: cover;
  // }
  //Scrolling through imgs

  .index-listing-outerimg-container {
    height: 200px !important;
    width: 300px !important;
    margin-top: 20;
  }

  .index-listing-img-container {
    overflow-x:scroll;
    height: 200px !important;
    width: 300px !important;
    border-radius: 15px;
    display: flex;
    scroll-snap-type: x mandatory;
  }

  .index-listing-img-container div {
    scroll-snap-align: center;
  }

  .index-listing-img-container img{
    height: 200;
    width: 300;
    object-fit: cover;

  }

  .card-index-content {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }


  .pagination-nav-container {
    align-items: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
  }
}

.search-bar {
  margin-top: 35px;
  margin-bottom: 35px;
}


@media (max-width:844px){
  #map {
    height: 450px;
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-bottom: 1px solid #fff;
  }

    .right-container-index {
    padding-top: 35px;
    background-color: #0c0c0f;
  }
  .container-index-listing {
    margin-top: -100px;
  }
}



@media (min-width: 845px) {
  .container-index-listing {
    display: flex;
    margin-top: -100px;
  }
  #map {
    height: 100vh;
    width:65%;
    position: sticky;
    top: 0px;
    display: block;
    z-index: 4;
    border-right: 2px solid #fff;
  }
  // .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  // margin-top: 110px;
  // }
}


@media (width: 1024px) {
  .container-index-listing {
    display: flex;
  }
  #map {
    height: 100vh;
    width:65%;
    position: sticky;
    top: 0;
    display: block;
    z-index: 4;
    top: 0;
    border-right: 2px solid #fff;

  }
//   .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
//   margin-top: 110px;
// }
}

.button-more-index {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1e1e1e;
  border-radius: 15px;
  box-sizing: border-box;
  color: #1e1e1e;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 0px;
  min-width: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-more-index:disabled {
  pointer-events: none;
}

.button-more-index:hover {
  color: #fff;
  background-color: #1e1e1e;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-more-index:active {
  box-shadow: none;
  transform: translateY(0);
}

// .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
//   align-content: left;
// }

.mapboxgl-popup-content {
  border-radius: 15px;
}

.page-link {
  border: 1px solid white !important;
  background-color: #000 !important;
  color: #fff !important;
}
.page-link:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.pagy-bootstrap-nav {
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  margin: 0;
}
