.listings-index-body {
    background-color: #e6e6e6;
  }

.right-container-index {
  margin-top: 100px;
}

@media (max-width: 1000px) {
  .cards-home {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .card-index {
    width: 350px;
    height: 350px;
    color: #0C0C0E;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background: rgb(253, 253, 253);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-index :hover {
    text-decoration: none;
  }

  .card-index img {
    height: 150px;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
  }

  .card-index-content {
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width:1000px){
  .card-index {
    display: flex;
    width: 90%;
    height: 240;
    color: #0C0C0E;
    text-decoration: none;
    background: rgb(230, 230, 230);
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #000;
  }

  .card :hover {
    text-decoration: none;
  }

  .card-index img {
    height: 200;
    width: 300;
    border-radius: 15px;
    margin-top:20;
  }
  .card-index-content {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  margin-top: 110px;
}
}
.search-bar {
  margin-top: 35px;
  margin-bottom: 35px;
}

@media (max-width:844px){
  .listings-index-main {
      top: 0;
      bottom: 0;
      background-color: rgb(230, 230, 230);
      width: 100%;
      position: relative;
      z-index: 2;
      border-top: 1px solid #fff;
      text-align: center;
  }

    #map {
    height: 350px;
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }

}



@media (min-width: 844px) {
  .container-index-listing {
    display: flex;
    margin-top: -100px;
  }
  .listings-index-main {
      top: 0px;
      margin-bottom: -250px;
      background-color: rgb(230, 230, 230);
      width: 100%;
      position: relative;
      z-index: 2;
      border-top: 1px solid #fff;
      text-align: center;
  }
  #map {
    height: 100vh;
    width:65%;
    position: sticky;
    top: 0px;
    display: block;
    z-index: 4;
    border-right: 2px solid #fff;
  }
  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  margin-top: 110px;
}
}


@media (width: 1024px) {
  .container-index-listing {
    display: flex;
  }
  .listings-index-main {
      top: 0;
      margin-bottom: -50px;
      background-color: #0C0C0E;
      width: 100%;
      position: relative;
      z-index: 2;
      border-top: 1px solid #fff;
      text-align: center;
  }
  #map {
    height: 100vh;
    width:65%;
    position: sticky;
    top: 0;
    display: block;
    z-index: 4;
    top: 0;
    border-right: 2px solid #fff;

  }
  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  margin-top: 110px;
}
}

.btn-more-mapbox {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right:5px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  background-color: rgb(0, 242, 255);
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  align-content: left;
}
