.new-listing-container{
  color: #fff;
  background-color: #000;
  padding-right: 30px;
  padding-top: 30px;
  padding-left: 30px;
  border-radius: 30px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.body-new-listings {
  background-color: #E6E6E6;
}
