.new-listing-container{
  color: #fff;
  background-color: #000;
  padding-right: 30px;
  padding-top: 30px;
  padding-left: 30px;
  border-radius: 30px;
  margin-top: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.btn-nav {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
}

.btn-nav:hover {
  color: #86ddff;
  border: 1px solid #86ddff;
}
